@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS variables*/
:root {
    --background-color-body: whitesmoke;
}

body {
    background-color: var(--background-color-body);
    font-family: Robot, sans-serif;
    margin:0;
    padding: 0;
}